class {
  onCreate() {
    this.state = { mounted: false }
  }

  onMount() {
    this.state.mounted = true
  }
}

<div if (state.mounted)>
  <h1 class="title">hogee</h1>
</div>

<style>
  .title {
    font-size: 3.0rem;
  }
</style>
